.st-emotion-cache-hr9f6m {
    background: rgb(255 255 255);
}

.st-emotion-cache-uf99v8 {
    background-color: rgb(255, 255, 255);
}

span.st-emotion-cache-10trblm.e1nzilvr1{
    text-align: center;
    color: black; 
    border-color: black;
    border-width: thick;
}

div.st-emotion-cache-s1k4sy.e1d2x3se4{
    padding: 3px;
    box-shadow: 6px 4px #074b4b;
}

div.st-af.st-b5.st-b6.st-ar.st-as.st-b7.st-b8.st-b9.st-ba.st-bb.st-bc.st-bd.st-c1{
    box-shadow: 6px 4px #074b4b;
}

div.st-emotion-cache-6qob1r.eczjsme3{
    background-color: rgb(31, 60, 58);
}   
.st-emotion-cache-1erivf3{
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff #33475B #FF7A59;
}

.st-emotion-cache-19rxjzo{
    border: 2px ridge #f5f5f5;
}

.st-emotion-cache-janbn0{
    background-color: rgb(117, 117, 51);
}

.st-emotion-cache-4oy321{
    background-color: #ffe3cb;
}

div.st-af.st-b5.st-b6.st-ar.st-as.st-b7.st-b8.st-b9.st-ba.st-bb.st-bc.st-bd.st-c5{
    border: 2px solid #ffffff;
    box-shadow: 6px 4px #074b4b;
}

.st-emotion-cache-5zp01n {
    background-color: rgb(255, 255, 255);
}