
span.st-emotion-cache-10trblm.e1nzilvr1{
    background-color: aquamarine;
    text-align: center;
    color: black; 
    border-style: dotted;
    border-color: black;
    border-width: thick;
}

div.st-emotion-cache-s1k4sy.e1d2x3se4{
    border: 2px solid #51a6a3;
    padding: 3px;
    box-shadow: 6px 4px #074b4b;
}

div.st-af.st-b5.st-b6.st-ar.st-as.st-b7.st-b8.st-b9.st-ba.st-bb.st-bc.st-bd.st-c1{
    border: 2px solid #51a6a3;
    box-shadow: 6px 4px #074b4b;
}

div.st-emotion-cache-6qob1r.eczjsme3{
    background-color: rgb(31, 54, 60);
}   
.st-emotion-cache-1erivf3{
    background-color: rgb(2, 43, 46);
    border-width: 2px;
    border-style: solid;
    border-color: #00A4BD #33475B #FF7A59;
}

.st-emotion-cache-19rxjzo{
    border: 2px ridge #00A4BD;
}

.st-emotion-cache-janbn0{
    background-color: rgb(117, 117, 51);
}

.st-emotion-cache-4oy321{
    background-color: #8d5151;
}

div.st-af.st-b5.st-b6.st-ar.st-as.st-b7.st-b8.st-b9.st-ba.st-bb.st-bc.st-bd.st-c5{
    border: 2px solid #51a6a3;
    box-shadow: 6px 4px #074b4b;

}

